asgiref==3.8.1
certifi==2023.11.17
charset-normalizer==3.3.2
distlib==0.3.7
Django==5.1.6
django-debug-toolbar==5.0.1
filelock==3.12.4
gunicorn==23.0.0
idna==3.6
mysqlclient==2.2.5
packaging==24.2
Pillow==10.1.0
platformdirs==3.11.0
PyMySQL==1.1.1
razorpay==1.4.1
requests==2.31.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.1.0
virtualenv==20.24.5
whitenoise==6.9.0
