{% extends 'base.html' %}
{% block content %}
{%load static%}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Add Job Vacancy</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    

<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

<div class="apply_job_form white-bg">
    <h4>Job Details</h4>
    <form action="addjob" method="post">
        {% csrf_token %}
                <div class="row">
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Pst Name" name="name" required>
                </div>
            </div>
            
            
            <div class="col-md-6">
                <div class="input_field">
                    <input type="number" placeholder="Number of vacancies" name="number" required>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Contact Person" name="person">
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="single_field">
                    <select class="wide" name="company">
                        <!-- <option data-display="Job Type">Jobtype</option> -->
                         {% for i in c %}
                        <option value="{{i.id}}">{{i}}</option>
                       {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Description" name="description" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Location" name="location" required>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="input_field">
                    <input type="number" placeholder="Working hours" name="hours" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="number" placeholder="Working days" name="days" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="minsalary" name="minsalary" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="maxsalary" name="maxsalary" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_field">
                    <select class="wide" name="jobtype">
                        <!-- <option data-display="Job Type">Jobtype</option> -->
                        <option data-display="Job Type" value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                        <option value="Contract">Contract</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Qualification" name="qualification" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="skills" name="skills" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="number" placeholder="Years of experience" name="experience" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="single_field">
                    <select class="wide" name="gender">
                        <!-- <option data-display="Prefferred gender">Gender</option> -->
                        <option data-display="Prefferred gender" value="Female">Female</option>
                        <option value="Male">Male</option>
                        <option value="Any">Any</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="minage" name="minage" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="maxage" name="maxage" required>
                </div>
            </div>
            
            <!-- <div class="col-md-12">
                <div class="input_field">
                    <input type="text" placeholder="Website/Portfolio link">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                      <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                    </div>
                  </div>
            </div> -->
            <!-- <div class="col-md-12">
                <div class="input_field">
                    <textarea name="#" id="" cols="30" rows="10" placeholder="Coverletter"></textarea>
                </div>
            </div> -->
            <div class="col-md-12">
                <div class="submit_btn">
                    <button class="boxed-btn3 w-100" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

</div>
</div>
</div>
</div>

{% endblock %}